# Numerical data types
This notebook focuses on exemplification of the Python core numerical data types.

## Creating numerical variables
Numerical variables are created by assigning numerical values to variables.

In [1]:
# creating numerical variables from value assignments
int_value = 1
float_value = 2.0
complex_value = 1 +1j

print("Created numerical values are: ", int_value, ",", float_value, ",", complex_value)

Created numerical values are:  1 , 2.0 , (1+1j)

## Using numerical operators
Let's explore the basic functionality of numerical operators.

In [2]:
# create values
int_value_1 = 10
int_value_2 = 7

# use numerical operators
print ("Addition result: ", int_value_1 + int_value_2)
print ("Subtraction result: ", int_value_1 - int_value_2)
print ("Multiplication result: ", int_value_1 * int_value_2)
print ("Division result: ", int_value_1 / int_value_2)
print ("Integer division result: ", int_value_1 // int_value_2)
print ("Modulo result: ", int_value_1 % int_value_2)
print ("Exponentiation result: ", int_value_1 ** int_value_2)

Addition result:  17
Subtraction result:  3
Multiplication result:  70
Division result:  1.4285714285714286
Integer division result:  1
Modulo result:  3
Exponentiation result:  10000000

## Conversion functions
Let's use conversion functions to convert textual data to numerical data.

In [3]:
# convert textual values to numerical values
int_value_conversion = int("1")
float_value_conversion = float ("1.0")
complex_value_conversion = complex ("(1+1j)")

# verify generated data types
print(
    "Conversion resulted data types: ",
      type(int_value_conversion), ",",
      type(float_value_conversion), ",",
      type(complex_value_conversion)
    )

Conversion resulted data types:  <class 'int'> , <class 'float'> , <class 'complex'>